.items {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  border-top: 1px solid rgba(0, 0, 0, 0.137);
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  justify-content: center;
  padding: 40px 0;
}