.cart {
  &__wrapper {
    display: flex;
    justify-content: center;
    background-color: #fff;
  }

  &__content {
    max-width: 1280px;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    column-gap: 40px;
  }

  &__titles {
    display: flex;
  }
}
