.header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 10px rgba(48, 48, 48, 0.315);
  position: fixed;
  z-index: 10;
  height: 90px;
  background-color: #fff;

  &__content {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }

  &__nav_ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 20px;
    align-items: center;
    height: 100%;
  }

  &__nav_link {
    cursor: pointer;
    transition: 0s;
    color: #000;
    text-decoration: none;
    position: relative;
  }

  &__nav_link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 10;
    display: block;
    width: 100%;
    height: 2px;
    background: #1976d2;
  }

  &__nav_link::after {
    width: 0;
    transition: 0.3s;
  }

  &__nav_link:hover:after {
    width: 100%;
  }

  &__nav_link_active {
    border-bottom: 2px solid #1976d2;
  }

  &__search_container {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__logo {
    font-family: "Lobster";
    font-size: 24px;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: default;
    color: #1976d2;
  }

  &__cart_icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cart_icon_active {
    background-color: #00000028;
    border-radius: 50%;
  }

  &__cart_counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 10px;
    color: #fff;
    font-weight: 900;
  }
}
