.footer {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  background-size: cover;
  position: relative;
  z-index: 1;

  &__content {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    min-height: 250px;
  }

  &__nav_ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style: none;
    padding: 0;
  }

  &__nav_link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
}
