.not_found {
  &__wrapper {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url("../../assets/images/pngegg.png");
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: 40%;
  }
}
