@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito-sans.ttf");
}

@font-face {
  font-family: "Nunito Italic";
  src: url("./assets/fonts/nunito-italic.ttf");
}

@font-face {
  font-family: "Lobster";
  src: url("./assets/fonts/lobster.ttf");
}

$italic-font: "Nunito Italic";

* {
  font: 18px "Nunito";
}

body {
  margin: 0;
}

.main {
  padding-top: 90px;
}

#root {
  width: 100%;
  margin: 0 auto;
}
