@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito-sans.ttf");
}

@font-face {
  font-family: "Nunito Italic";
  src: url("./assets/fonts/nunito-italic.ttf");
}

@font-face {
  font-family: "Lobster";
  src: url("./assets/fonts/lobster.ttf");
}

$italic-font: "Nunito Italic";

* {
  font: 18px "Nunito";
}

body {
  margin: 0;
}

.main {
  padding-top: 90px;
}

#root {
  width: 100%;
  margin: 0 auto;
}

.main__title {
  font-size: 78px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  color: rgba(0, 0, 0, 0.464);
  cursor: default;
}